<template>
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">{{(isSignInMode ? 'page.signIn' : 'page.signUp') | message}}</h2>
            <p v-if="isSignInMode">{{'auth.isNotRegistered' | message}} <a href="#" @click="toggleMode">{{'action.signUp' | message}}</a></p>
            <p v-if="!isSignInMode">{{'auth.isRegistered' | message}} <a href="#" @click="toggleMode">{{'action.signIn' | message}}</a></p>
            <keep-alive>
                <component :is="isSignInMode ? 'SignInForm' : 'SignUpForm'"></component>
            </keep-alive>
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue, Watch} from 'vue-property-decorator';
    import SignInForm from '@/components/SignInForm.vue';
    import SignUpForm from '@/components/SignUpForm.vue';
    import {Route} from 'vue-router';

    @Component({
        components: {SignUpForm, SignInForm},
    })
    export default class AuthPage extends Vue {
        @Prop({default: 'signIn'}) mode!: string;
        @Prop({default: '/'}) returnTo!: string;

        isSignInMode: boolean;

        constructor() {
            super();
            this.isSignInMode = this.mode == 'signIn';
        }

        toggleMode() {
            const mode = this.mode == 'signIn' ? 'signUp' : 'signIn';
            this.$router.replace({name: 'auth', params: {mode: mode}});
        }

        created() {
            if (this.$store.state.token) {
                this.$router.replace(this.returnTo);
            }
        }

        beforeRouteUpdate(to: Route, from: Route, next: any) {
            this.isSignInMode = to.params['mode'] == 'signIn';
            next();
        }

        @Watch('$store.state.token')
        onTokenChanged(newValue: string) {
            if (newValue) {
                this.$router.replace(this.returnTo);
            }
        }
    }
</script>
