<template>
    <div class="card">
        <div class="card-body">

            <h2 class="card-title">{{'page.trainings' | message}}</h2>

            <div class="spinner" v-if="isShowSpinner"></div>
            <div v-if="isShowLoadError">
                <p class="mb-0">{{'error.load' | message}}</p>
                <div class="btn btn-outline-primary mt-2" v-on:click="loadTrainings()">{{'action.retry' | message}}</div>
            </div>

            <TrainingPreviewList :items="trainings" v-if="!isShowSpinner && !isShowLoadError"/>
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';
    import TrainingPreviewList from '@/components/TrainingPreviewList.vue';
    import {TrainingPreview} from '../models/Training';
    import {AllTrainingsRequest, AllTrainingsResponse} from '@/models/api/Trainings';
    import Utils from '@/utils/Utils';
    import {ResponseInfo} from '@/store';

    @Component({
        components: {TrainingPreviewList}
    })
    export default class HomePage extends Vue {
        trainings: TrainingPreview[] = [];
        isShowSpinner: boolean = false;
        isShowLoadError: boolean = false;

        loadTrainings() {
            this.isShowSpinner = true;
            this.isShowLoadError = false;

            const requestId: string = Utils.getRandomId();
            const request: AllTrainingsRequest = {
                requestId: requestId
            };

            this.$store.dispatch('loadAllTrainings', request).then(() => {
                this.isShowSpinner = false;
                const responseInfo: ResponseInfo<AllTrainingsResponse> = this.$store.getters.getResponseInfo(requestId);

                if (!responseInfo.isSuccess) {
                    this.isShowLoadError = true;
                    return;
                }

                const response: AllTrainingsResponse = responseInfo.response;
                if (!response.trainings) {
                    this.isShowLoadError = true;
                    return;
                }

                this.trainings.splice(0, this.trainings.length, ...response.trainings);
            });
        }

        created() {
            this.loadTrainings();
        }
    }
</script>
