<template>
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">{{'page.myTrainings' | message}}</h2>
            <div class="spinner" v-if="isShowSpinner"></div>
            <div v-if="isShowLoadError">
                <p class="mb-0">{{'error.load' | message}}</p>
                <div class="btn btn-outline-primary mt-2" v-on:click="loadTrainings()">{{'action.retry' | message}}</div>
            </div>
            <div v-if="!isShowSpinner && !isShowLoadError">
                <MyTrainingList :items="$store.state.myTrainings"/>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Vue, Watch} from 'vue-property-decorator';
    import {TrainingPreview} from '@/models/Training';
    import {MyTrainingsRequest, MyTrainingsResponse} from '@/models/api/Trainings';
    import Utils from '@/utils/Utils';
    import {ResponseInfo} from '@/store';
    import MyTrainingList from '@/components/MyTrainingList.vue';

    @Component({
        components: {MyTrainingList}
    })
    export default class MyTrainingsPage extends Vue {
        isShowSpinner: boolean = false;
        isShowLoadError: boolean = false;

        loadTrainings() {
            this.isShowSpinner = true;
            this.isShowLoadError = false;

            const requestId: string = Utils.getRandomId();
            this.$store.dispatch('loadMyTrainings', <MyTrainingsRequest> {requestId: requestId}).then(() => {
                this.isShowSpinner = false;

                const responseInfo: ResponseInfo<MyTrainingsResponse> = this.$store.getters.getResponseInfo(requestId);
                if (!responseInfo.isSuccess) {
                    this.isShowLoadError = true;
                    return;
                }

                const response: MyTrainingsResponse = responseInfo.response;
                if (response.isBadToken) {
                    this.$store.commit('logout');
                    this.$router.push({name: 'auth', params: {mode: 'signIn', returnTo: '/myTrainings'}});
                    return;
                }

                if (!response.trainings) {
                    this.isShowLoadError = true;
                    return;
                }

                this.$store.commit('setMyTrainings', response.trainings);
            });
        }

        created() {
            if (!this.$store.state.token) {
                return this.$router.push({name: 'auth', params: {mode: 'signIn', returnTo: '/myTrainings'}});
            }

            if (!this.$store.state.myTrainings.length) {
                this.loadTrainings();
            }
        }
    }
</script>
