<template>
    <div>
        <div class="card">
            <div class="card-body">
                <h2 class="card-title mb-0">{{'page.newTraining' | message}}</h2>
                <div class="mt-3" v-if="isShowSpinner || isShowSendError">
                    <div class="spinner" v-if="isShowSpinner"></div>
                    <div class="alert alert-danger form-alert mt-0" v-if="isShowSendError">{{'error.send' | message}}</div>
                </div>
            </div>
        </div>

        <EditTrainingForm class="mt-3" :training="training" :on-submit="send" v-show="!isShowSpinner"/>
    </div>
</template>

<script lang="ts">
    import {Component, Vue, Watch} from 'vue-property-decorator';
    import {Training} from '@/models/Training';
    import EditTrainingForm from '@/components/EditTrainingForm.vue';
    import {NewTrainingRequest, NewTrainingResponse} from '@/models/api/Trainings';
    import Utils from '@/utils/Utils';
    import {ResponseInfo} from '@/store';

    @Component({
        components: {EditTrainingForm}
    })
    export default class NewTrainingPage extends Vue {
        training: Training = {
            id: '',
            name: '',
            description: '',
            isTaken: true,
            levels: [{
                exercises: [{
                    name: '',
                    description: '',
                    imageUrl: 'https://picsum.photos/1920/1280/?random=11'
                }]
            }],
            imageUrls: ['https://picsum.photos/1920/1280/?random=144', 'https://picsum.photos/1920/1280/?random=223', 'https://picsum.photos/1920/1280/?random=31']
        };

        isShowSpinner: boolean = false;
        isShowSendError: boolean = false;

        send() {
            this.isShowSpinner = true;
            this.isShowSendError = false;

            const request: NewTrainingRequest = {
                requestId: Utils.getRandomId(),
                training: this.training
            };

            this.$store.dispatch('createTraining', request).then(() => {
                this.isShowSpinner = false;

                const responseInfo: ResponseInfo<NewTrainingResponse> = this.$store.getters.getResponseInfo(request.requestId);
                if (!responseInfo.isSuccess) {
                    this.isShowSendError = true;
                    return;
                }

                const response: NewTrainingResponse = responseInfo.response;
                if (response.isBadToken) {
                    this.$store.commit('logout');
                    this.$router.push({name: 'auth', params: {mode: 'signIn', returnTo: '/newTraining'}});
                    return;
                }

                if (!response.trainingId) {
                    this.isShowSendError = true;
                    return;
                }

                this.$router.push({name: 'training', params: {trainingId: response.trainingId}});
            });
        }

        created() {
            if (!this.$store.state.token) {
                return this.$router.push({name: 'auth', params: {mode: 'signIn', returnTo: '/newTraining'}});
            }
        }
    }
</script>
