<template>
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">{{'page.profile' | message}}</h2>

            <div class="spinner" v-if="isShowSpinner"></div>
            <div v-if="isShowLoadError">
                <p class="mb-0">{{'error.load' | message}}</p>
                <div class="btn btn-outline-primary mt-2" v-on:click="loadProfileInfo()">{{'action.retry' | message}}</div>
            </div>

            <div v-if="!isShowSpinner && !isShowLoadError">
                <h5>{{'label.username' | message}}: {{username}}</h5>
                <h5>{{'label.email' | message}}: {{email}}</h5>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Vue, Watch} from 'vue-property-decorator';
    import {ProfileInfoRequest, ProfileInfoResponse} from '@/models/api/Profile';
    import Utils from '@/utils/Utils';
    import {ResponseInfo} from '@/store';

    @Component
    export default class ProfilePage extends Vue {
        isShowSpinner: boolean = false;
        isShowLoadError: boolean = false;

        get email() {
            return this.$store.state.email;
        }

        get username() {
            return this.$store.state.username;
        }

        loadProfileInfo() {
            this.isShowSpinner = true;
            this.isShowLoadError = false;

            const request: ProfileInfoRequest = {
                requestId: Utils.getRandomId()
            };

            this.$store.dispatch('loadProfileInfo', request).then(() => {
                this.isShowSpinner = false;

                const responseInfo: ResponseInfo<ProfileInfoResponse> = this.$store.getters.getResponseInfo(request.requestId);
                if (!responseInfo.isSuccess) {
                    this.isShowLoadError = true;
                    return;
                }

                const response: ProfileInfoResponse = responseInfo.response;
                if (response.isBadToken) {
                    this.$store.commit('logout');
                    this.$router.push({name: 'auth', params: {mode: 'signIn', returnTo: '/profile'}});
                    return;
                }

                if (!response.email || !response.username) {
                    this.isShowLoadError = true;
                    return;
                }

                this.$store.commit('setProfileInfo', response);
            });
        }

        created() {
            if (!this.$store.state.token) {
                return this.$router.push({name: 'auth', params: {mode: 'signIn', returnTo: '/profile'}});
            }

            if (!this.email || !this.username) {
                this.loadProfileInfo();
            }
        }
    }
</script>
