<template>
    <div>
        <div class="card">
            <div class="card-body" v-if="!isShowSpinner && !isShowLoadError">
                <h2 class="card-title">{{training.name}}</h2>
                <ImagesCarousel :imageUrls="training.imageUrls"/>
                <p class="mt-3">{{training.description}}</p>
                <TakeTrainingButton class="mt-2" :training="training" />
            </div>

            <div class="card-body" v-if="isShowSpinner || isShowLoadError">
                <h2 class="card-title">{{'page.training' | message}}</h2>
                <div class="spinner" v-if="isShowSpinner"></div>
                <div v-if="isShowLoadError">
                    <p class="mb-0">{{'error.load' | message}}</p>
                    <div class="btn btn-outline-primary mt-2" v-on:click="loadTrainingInfo()">{{'action.retry' | message}}</div>
                </div>
            </div>
        </div>

        <div class="mt-3" v-if="!isShowSpinner && !isShowLoadError">
            <div class="card mt-3" v-for="(level, levelIndex) in training.levels">
                <div class="card-body">
                    <h4 class="cart-title">{{'common.level' | message}} {{levelIndex + 1}}</h4>

                    <div class="card card-nested mt-3" v-for="exercise in level.exercises">
                        <div class="card-body">
                            <h5 class="card-title">{{exercise.name}}</h5>
                            <img class="card-img" :src="exercise.imageUrl" :alt="exercise.name"/>
                            <p class="mt-3">{{exercise.description}}</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import {Training} from '../models/Training';
    import ImagesCarousel from '@/components/ImagesCarousel.vue';
    import {TrainingInfoRequest, TrainingInfoResponse} from '@/models/api/Trainings';
    import Utils from '@/utils/Utils';
    import {ResponseInfo} from '@/store';
    import TakeTrainingButton from '@/components/TakeTrainingButton.vue';

    @Component({
        components: {ImagesCarousel, TakeTrainingButton}
    })
    export default class TrainingPage extends Vue {
        @Prop() trainingId!: string;
        training: Training | null = null;

        isShowSpinner: boolean = false;
        isShowLoadError: boolean = false;

        loadTrainingInfo() {
            this.isShowSpinner = true;
            this.isShowLoadError = false;

            const request: TrainingInfoRequest = {
                requestId: Utils.getRandomId(),
                trainingId: this.trainingId
            };

            this.$store.dispatch('loadTrainingInfo', request).then(() => {
                this.isShowSpinner = false;

                const responseInfo: ResponseInfo<TrainingInfoResponse> = this.$store.getters.getResponseInfo(request.requestId);
                if (!responseInfo.isSuccess) {
                    this.isShowLoadError = true;
                    return;
                }

                const response: TrainingInfoResponse = responseInfo.response;
                if (response.isBadToken && this.$store.state.token) {
                    this.$store.commit('logout');
                    this.$router.push({name: 'auth', params: {mode: 'signIn', returnTo: '/training/' + this.trainingId}});
                    return;
                }

                if (!response.training) {
                    this.isShowLoadError = true;
                    return;
                }

                this.training = response.training;
            })
        }

        created() {
            this.loadTrainingInfo();
        }
    }
</script>

<style scoped>
    p {
        margin-bottom: 0;
    }

    .card-nested {
        background: #f3f3f3;
    }
</style>
