<template>
    <div>
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">{{'page.diary' | message}}</h2>

                <div class="spinner" v-if="isShowSpinner && !isShowLoadError"></div>
                <div v-if="isShowLoadError">
                    <p class="mb-0">{{'error.load' | message}}</p>
                    <div class="btn btn-outline-primary mt-2" v-on:click="reload()">{{'action.retry' | message}}</div>
                </div>

                <div v-if="!isShowSpinner && !isShowLoadError">
                    <div class="btn btn-outline-primary mb-3" v-if="isShowAddNoteButton" @click="onAddNoteClick()">{{'diaryList.addNote' | message}}</div>
                    <div class="btn btn-outline-primary mb-3" v-if="isShowCloseButton" @click="onCloseClick()">{{'diaryList.addNote' | message}}</div>
                    <div v-if="!isShowAddNoteButton && !isShowCloseButton">{{'diaryList.noTrainings' | message}}</div>

                    <DiaryNoteForm v-if="isShowCloseButton"/>
                    <DiaryNoteList class="mt-2" :items="$store.state.diaryNotes" v-if="!isShowSpinner && !isShowLoadError"/>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';
    import {TrainingDiaryRequest, TrainingDiaryResponse} from '@/models/api/TrainingDiary';
    import Utils from '@/utils/Utils';
    import {ResponseInfo} from '@/store';
    import {TrainingDiaryNote} from '@/models/TrainingDiary';
    import DiaryNoteList from '@/components/DiaryNoteList.vue';
    import DiaryNoteForm from '@/components/DiaryNoteForm.vue';
    import {MyTrainingsRequest, MyTrainingsResponse} from '@/models/api/Trainings';

    @Component({
        components: {DiaryNoteList, DiaryNoteForm}
    })
    export default class TrainingDiaryPage extends Vue {
        isShowDiarySpinner: boolean = false;
        isShowLoadDiaryError: boolean = false;
        isShowTrainingsSpinner: boolean = false;
        isShowLoadTrainingsError: boolean = false;
        isShowCloseButton: boolean = false;

        get isShowSpinner() {
            return this.isShowDiarySpinner || this.isShowTrainingsSpinner;
        }

        get isShowLoadError() {
            return this.isShowLoadDiaryError || this.isShowLoadTrainingsError;
        }

        get isShowAddNoteButton() {
            return this.$store.state.myTrainings.length && !this.isShowCloseButton;
        }

        onAddNoteClick() {
            this.isShowCloseButton = true;
        }

        onCloseClick() {
            this.isShowCloseButton = false;
        }

        loadDiaryInfo() {
            this.isShowDiarySpinner = true;
            this.isShowLoadDiaryError = false;

            const request: TrainingDiaryRequest = {
                requestId: Utils.getRandomId()
            };

            this.$store.dispatch('loadDiaryInfo', request).then(() => {
                this.isShowDiarySpinner = false;

                const responseInfo: ResponseInfo<TrainingDiaryResponse> = this.$store.getters.getResponseInfo(request.requestId);
                if (!responseInfo.isSuccess) {
                    this.isShowLoadDiaryError = true;
                    return;
                }

                const response: TrainingDiaryResponse = responseInfo.response;
                if (response.isBadToken) {
                    this.$store.commit('logout');
                    this.$router.push({name: 'auth', params: {mode: 'signIn', returnTo: '/diary'}});
                    return;
                }

                if (!response.notes) {
                    this.isShowLoadDiaryError = true;
                    return;
                }

                this.$store.commit('setDiaryNotes', response.notes);
            });
        }

        loadTrainings() {
            this.isShowTrainingsSpinner = true;
            this.isShowLoadTrainingsError = false;

            const requestId: string = Utils.getRandomId();
            this.$store.dispatch('loadMyTrainings', <MyTrainingsRequest> {requestId: requestId}).then(() => {
                this.isShowTrainingsSpinner = false;

                const responseInfo: ResponseInfo<MyTrainingsResponse> = this.$store.getters.getResponseInfo(requestId);
                if (!responseInfo.isSuccess) {
                    this.isShowLoadTrainingsError = true;
                    return;
                }

                const response: MyTrainingsResponse = responseInfo.response;
                if (response.isBadToken) {
                    this.$store.commit('logout');
                    this.$router.push({name: 'auth', params: {mode: 'signIn', returnTo: '/diary'}});
                    return;
                }

                if (!response.trainings) {
                    this.isShowLoadTrainingsError = true;
                    return;
                }

                this.$store.commit('setMyTrainings', response.trainings);
            });
        }

        reload() {
            if (this.isShowLoadDiaryError) {
                this.loadDiaryInfo();
            }
            if (this.isShowLoadTrainingsError) {
                this.loadTrainings();
            }
        }

        onNewNoteCreated(note: TrainingDiaryNote) {
            this.$store.commit('addDiaryNote', note);
        }

        created() {
            if (!this.$store.state.token) {
                return this.$router.push({name: 'auth', params: {mode: 'signIn', returnTo: '/diary'}});
            }
            if (!this.$store.state.diaryNotes.length) {
                this.loadDiaryInfo();
            }
            if (!this.$store.state.myTrainings.length) {
                this.loadTrainings();
            }
        }
    }
</script>

<style scoped>

</style>