<template>
    <div>
        <DiaryNoteListItem class="mb-3" v-for="item in items" :key="item.id" :item="item"/>
        <p v-if="items.length == 0">{{'diaryList.empty' | message}}</p>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import {TrainingDiaryNote} from '@/models/TrainingDiary';
    import DiaryNoteListItem from '@/components/DiaryNoteListItem.vue';

    @Component({
        components: {DiaryNoteListItem}
    })
    export default class DiaryNoteList extends Vue {
        @Prop() items!: TrainingDiaryNote[];
    }
</script>
