<template>
    <div>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{getName(item) || ('diaryList.removed' | message)}}</h4>
                <h5>{{new Date(item.date).toString()}}</h5>
                <p>{{item.comment}}</p>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import {TrainingDiaryNote} from '@/models/TrainingDiary';
    import {TrainingPreview} from '@/models/Training';

    @Component
    export default class DiaryNoteListItem extends Vue {
        @Prop() item!: TrainingDiaryNote;
        trainings: TrainingPreview[] = this.$store.state.myTrainings;

        get getName() {
            for (const training of this.trainings) {
                if (training.id == this.item.trainingId) {
                    return training.name;
                }
            }
            return '';
        }
    }
</script>

<style scoped>

</style>