<template>
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">{{'diaryList.newNote' | message}}</h3>

            <div class="spinner" v-if="isShowSpinner"></div>
            <div v-if="isShowLoadError">
                <p class="mb-0">{{'error.load' | message}}</p>
                <div class="btn btn-outline-primary mt-2" v-on:click="submit()">{{'action.retry' | message}}</div>
            </div>

            <form @submit.prevent="submit()" novalidate>
                <div class="form-group">
                    <label for="training">{{'label.selectTraining' | message}}</label>
                    <select id="training" class="form-control w-auto" v-model="note.trainingId" required>
                        <option value="" disabled>-</option>
                        <option v-for="training in trainings" :key="training.id" :value="trainingId">{{training.name}}</option>
                    </select>

                    <div class="alert alert-danger form-alert" v-if="isShowSelectError">{{'validation.required' | message}}</div>
                </div>

                <div class="form-group">
                    <label for="comment">{{'label.noteComment' | message}}</label>
                    <textarea
                        id="comment"
                        class="form-control"
                        rows="4"
                        :placeholder="'placeholder.noteComment' | message"
                        v-model="note.comment"
                        required>
                    </textarea>

                    <div class="alert alert-danger form-alert" v-if="isShowCommentError">{{'validation.required' | message}}</div>
                </div>

                <div>{{note.trainingId}}</div>
            </form>
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import {DiaryTrainingName, TrainingDiaryNote} from '@/models/TrainingDiary';
    import Utils from '@/utils/Utils';
    import {NewDiaryNoteRequest, NewDiaryNoteResponse} from '@/models/api/TrainingDiary';
    import {ResponseInfo} from '@/store';

    @Component
    export default class DiaryNoteForm extends Vue {
        @Prop() onSuccess!: (note: TrainingDiaryNote) => void;
        note: TrainingDiaryNote = {
            id: '',
            date: Date.now(),
            comment: '',
            trainingId: ''
        };

        trainings: DiaryTrainingName[] = this.$store.state.myTrainings;

        isShowSpinner: boolean = false;
        isShowSendError: boolean = false;
        isShowSelectError: boolean = false;
        isShowCommentError: boolean = false;

        submit() {
            if (!this.note.trainingId) {
                this.isShowSelectError = true;
            }
            if (!this.note.comment) {
                this.isShowCommentError = true;
            }

            if (this.note.trainingId && this.note.comment) {
                this.send();
            }
        }

        send() {
            this.isShowSpinner = true;
            this.isShowSendError = false;
            this.note.date = Date.now();

            const requestId: string = Utils.getRandomId();
            const request: NewDiaryNoteRequest = {
                requestId: requestId,
                note: this.note
            };

            this.$store.dispatch('newDiaryNote', request).then(() => {
                this.isShowSpinner = false;
                const responseInfo: ResponseInfo<NewDiaryNoteResponse> = this.$store.getters.getResponseInfo(requestId);

                if (!responseInfo.isSuccess) {
                    this.isShowSendError = true;
                    return;
                }

                const response: NewDiaryNoteResponse = responseInfo.response;
                if (response.isBadToken) {
                    this.$store.commit('logout');
                    this.$router.push({name: 'auth', params: {mode: 'signIn', returnTo: '/diary'}});
                    return;
                }

                if (!response.isSuccess) {
                    this.isShowSendError = true;
                    return;
                }

                this.onSuccess(this.note);
            });
        }

        created() {
            if (!this.$store.state.token) {
                return this.$router.push({name: 'auth', params: {mode: 'signIn', returnTo: '/diary'}});
            }
        }
    }
</script>

<style scoped>

</style>