<template>
    <form @submit.prevent="submit()" novalidate>
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-pills card-header-pills">
                    <li class="nav-item">
                        <a class="nav-link active" href="#" @click="linkPlaceholderAction($event)">{{'editTraining.info' | message}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" @click="linkPlaceholderAction($event)">{{'editTraining.images' | message}}</a>
                    </li>
                </ul>
            </div>

            <div class="card-body">
                <div class="form-group">
                    <label for="trainingName" class="h5">{{'editTraining.trainingName' | message}}</label>
                    <input id="trainingName"
                           class="form-control col-12 col-lg-6"
                           v-bind:class="{'invalid': !training.name, 'is-invalid': isSubmitted && !training.name}"
                           v-model="training.name"
                           required/>
                    <div class="alert alert-danger form-alert" v-if="isSubmitted && !training.name">{{'validation.required' | message}}</div>
                </div>

                <div class="form-group">
                    <label for="trainingDescription" class="h5">{{'editTraining.trainingDescription' | message}}</label>
                    <textarea id="trainingDescription"
                              class="form-control"
                              v-bind:class="{'invalid': !training.description, 'is-invalid': isSubmitted && !training.description}"
                              v-model="training.description"
                              rows="4"
                              required>
                    </textarea>
                    <div class="alert alert-danger form-alert" v-if="isSubmitted && !training.description">{{'validation.required' | message}}</div>
                </div>
            </div>
        </div>

        <div class="card mt-3" v-for="(level, levelIndex) in training.levels">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <h4 class="mb-0">{{'common.level' | message}} {{levelIndex + 1}}</h4>
                    <div class="btn-remove ml-2" v-if="levelIndex != 0" @click="removeLevel(levelIndex)"></div>
                </div>

                <div class="card mt-3" v-for="(exercise, exerciseIndex) in level.exercises">
                    <div class="card-header">
                        <ul class="nav nav-pills card-header-pills">
                            <li class="nav-item">
                                <a class="nav-link active" href="#" @click="linkPlaceholderAction($event)">{{'editTraining.info' | message}}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" @click="linkPlaceholderAction($event)">{{'editTraining.images' | message}}</a>
                            </li>
                            <li class="nav-item" v-if="exerciseIndex != 0" @click="removeExercise(levelIndex, exerciseIndex)">
                                <a class="nav-link link-remove" href="#" @click="linkPlaceholderAction($event)">{{'editTraining.remove' | message}}</a>
                            </li>
                        </ul>
                    </div>

                    <div class="card-body">
                        <div class="form-group">
                            <label :for="'exerciseName-' + exerciseIndex" class="h5">{{'editTraining.exerciseName' | message}}</label>
                            <input :id="'exerciseName' + exerciseIndex"
                                   class="form-control col-lg-6"
                                   v-bind:class="{'invalid': !exercise.name, 'is-invalid': isSubmitted && !exercise.name}"
                                   v-model="exercise.name"
                                   required/>
                            <div class="alert alert-danger form-alert" v-if="isSubmitted && !exercise.name">{{'validation.required' | message}}</div>
                        </div>

                        <div class="form-group">
                            <label :for="'exerciseDescription-' + exerciseIndex" class="h5">{{'editTraining.exerciseDescription' | message}}</label>
                            <textarea :id="'exerciseDescription-' + exerciseIndex"
                                      class="form-control"
                                      v-bind:class="{'invalid': !exercise.description, 'is-invalid': isSubmitted && !exercise.description}"
                                      v-model="exercise.description"
                                      rows="4"
                                      required>
                        </textarea>
                            <div class="alert alert-danger form-alert" v-if="isSubmitted && !exercise.description">{{'validation.required' | message}}</div>
                        </div>
                    </div>
                </div>

                <div class="mt-3">
                    <div class="btn btn-outline-primary" @click="addExercise(levelIndex)">{{'editTraining.addExercise' | message}}</div>
                </div>
            </div>
        </div>

        <div class="card mt-3">
            <div class="card-body ml-n3 mt-n3">
                <div class="btn btn-outline-primary ml-3 mt-3" @click="addLevel()">{{'editTraining.addLevel' | message}}</div>
                <button type="submit" class="btn btn-primary ml-3 mt-3">{{'editTraining.save' | message}}</button>
            </div>
        </div>
    </form>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import {Training} from '../models/Training';
    import {Exercise, TrainingLevel} from '@/models/Training';

    @Component
    export default class EditTrainingForm extends Vue {
        @Prop() training!: Training;
        @Prop() onSubmit!: () => void;

        isSubmitted: boolean = false;

        addExercise(levelIndex: number) {
            this.training.levels[levelIndex].exercises.push({
                name: '',
                description: '',
                imageUrl: 'https://picsum.photos/1920/1280/?random=143'
            });
        }

        removeExercise(levelIndex: number, exerciseIndex: number) {
            this.training.levels[levelIndex].exercises.splice(exerciseIndex, 1);
        }

        addLevel() {
            this.training.levels.push({
                exercises: [{
                    name: '',
                    description: '',
                    imageUrl: 'https://picsum.photos/1920/1280/?random=123'
                }]
            });
        }

        removeLevel(levelIndex: number) {
            this.training.levels.splice(levelIndex, 1);
        }

        linkPlaceholderAction(event: MouseEvent) {
            event.preventDefault();
        }

        submit() {
            this.isSubmitted = true;
            this.isValid() ? this.onSubmit() : this.scrollToInvalid();
        }

        isValid() {
            if (!this.training.name || !this.training.description || !this.training.levels.length) {
                return false;
            }

            let isLevelsAndExercisesValid = true;

            this.training.levels.forEach((level: TrainingLevel) => {
                if (!level.exercises.length) {
                    isLevelsAndExercisesValid = false;
                    return false;
                }

                level.exercises.forEach((exercise: Exercise) => {
                    if (!exercise.name || !exercise.description) {
                        isLevelsAndExercisesValid = false;
                        return false;
                    }
                });

                return isLevelsAndExercisesValid;
            });

            return isLevelsAndExercisesValid;
        }

        scrollToInvalid() {
            const invalid = document.getElementsByClassName('invalid')[0];
            if (invalid) {
                const pageOffset = window.scrollY === undefined ? window.pageYOffset : window.scrollY;
                scrollTo(0, invalid.getBoundingClientRect().top - 100 + pageOffset);
            }
        }
    }
</script>

<style scoped>
    textarea {
        resize: vertical;
    }
</style>
