<template>
    <div :id="id" class="carousel slide" data-interval="false">
        <ol class="carousel-indicators">
            <li v-for="(_, index) in imageUrls"
                :data-target="idTarget"
                :data-slide-to="index"
                v-bind:class="{'active': index == 0}"
                v-once>
            </li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item" v-for="(imageUrl, index) in imageUrls" v-bind:class="{'active': index == 0}" v-once>
                <img class="d-block w-100" :src="'https://picsum.photos/200/300/?random=' + index" :alt="'imagesCarousel.alt' | message"/>
            </div>
        </div>
        <a class="carousel-control-prev" :href="idTarget" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" :href="idTarget" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import Utils from '../utils/Utils';

    @Component
    export default class ImagesCarousel extends Vue {
        @Prop({default: []}) imageUrls!: string[];
        id: string = 'imageCarousel-' + Utils.getRandomId();
        idTarget: string = '#' + this.id;
    }
</script>
