<template>
    <div class="card preview-card">
        <div class="row preview-row">
            <div class="col col-md-4 col-lg-3 text-center">
                <img class="card-img" :src="'https://picsum.photos/1920/1280/?random=' + item.id" :alt="item.name"/>
            </div>
            <div class="card-body preview-body col col-md-8 col-lg-9">
                <h4 class="card-title">{{item.name}}</h4>
                <p class="card-text">{{item.description}}</p>
                <a class="btn btn-outline-primary" href="#" @click.prevent="openTraining(item.id)">{{'trainingPreview.open' | message}}</a>
                <ThrowTrainingButton class="mt-2" :training="item" />
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import {TrainingPreview} from '@/models/Training';
    import ThrowTrainingButton from '@/components/ThrowTrainingButton.vue';

    @Component({
        components: {ThrowTrainingButton}
    })
    export default class MyTrainingListItem extends Vue {
        @Prop() item!: TrainingPreview;

        openTraining(id: string) {
            this.$router.push({name: 'training', params: {trainingId: id}});
        }
    }
</script>
