<template>
    <div>
        <MyTrainingListItem class="mb-3" v-for="item in items" :key="item.id" :item="item"/>
        <p v-if="items.length == 0">{{'trainingPreviewList.empty' | message}}</p>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import {TrainingPreview} from '../models/Training';
    import MyTrainingListItem from '@/components/MyTrainingListItem.vue';

    @Component({
        components: {MyTrainingListItem}
    })
    export default class MyTrainingList extends Vue {
        @Prop() items!: TrainingPreview[];
    }
</script>
