<template>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <router-link class="navbar-brand" to="/">TrainWithBrain</router-link>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav w-100">
                <router-link class="nav-item nav-link" :to="'/'">{{'page.trainings' | message}}</router-link>
                <template v-if="!isAuthorized">
                    <router-link class="nav-item nav-link" :to="{name: 'auth', params: {mode: 'signIn'}}">{{'page.signIn' | message}}</router-link>
                    <router-link class="nav-item nav-link" :to="{name: 'auth', params: {mode: 'signUp'}}">{{'page.signUp' | message}}</router-link>
                </template>
                <template v-if="isAuthorized">
                    <router-link class="nav-item nav-link" :to="'/myTrainings'">{{'page.myTrainings' | message}}</router-link>
                    <router-link class="nav-item nav-link" :to="'/newTraining'">{{'page.newTraining' | message}}</router-link>
                    <router-link class="nav-item nav-link" :to="'/diary'">{{'page.diary' | message}}</router-link>
                    <router-link class="nav-item nav-link ml-lg-auto" :to="'/profile'">{{'page.profile' | message}}</router-link>
                    <a class="nav-item nav-link" href="#" v-on:click="logout()">{{'page.logout' | message}}</a>
                </template>
            </div>
        </div>
    </nav>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';

    @Component
    export default class Navbar extends Vue {
        get isAuthorized() {
            return !!this.$store.state.token;
        }

        logout() {
            // this.$router.push('/');
            this.$store.commit('logout');
        }
    }
</script>
