<template>
    <form @submit="onSubmit" novalidate>
        <div class="form-group row">
            <label for="username" class="col-sm-3 col-md-2 col-form-label">{{'label.username' | message}}</label>
            <div class="col-sm-8 col-md-6 col-lg-4">
                <input
                    id="username"
                    class="form-control"
                    v-bind:class="{'is-invalid': showUsernameError}"
                    :placeholder="'placeholder.username' | message"
                    v-on:input="hideUsernameError()"
                    v-model="username"
                    required/>
                <div class="alert alert-danger form-alert" v-if="showUsernameError">{{'validation.usernameRequired' | message}}</div>
            </div>
        </div>
        <div class="form-group row">
            <label for="password" class="col-sm-3 col-md-2 col-form-label">{{'label.password' | message}}</label>
            <div class="col-sm-8 col-md-6 col-lg-4">
                <input
                    id="password"
                    class="form-control"
                    v-bind:class="{'is-invalid': showPasswordError}"
                    type="password"
                    :placeholder="'placeholder.password' | message"
                    v-on:input="hidePasswordError()"
                    v-model="password"
                    required/>
                <div class="alert alert-danger form-alert" v-if="showPasswordError">{{'validation.passwordRequired' | message}}</div>
            </div>
        </div>
        <div class="form-group row" v-if="isShowSendError">
            <div class="col-auto">
                <div class="alert alert-danger form-alert mt-0">{{'error.send' | message}}</div>
            </div>
        </div>
        <div class="form-group row" v-if="showNotFoundError">
            <div class="col-auto">
                <div class="alert alert-danger form-alert mt-0">{{'error.userNotFound' | message}}</div>
            </div>
        </div>
        <div class="spinner" v-if="isShowSpinner"></div>
        <div class="form-group row" v-if="!isShowSpinner">
            <div class="col-auto">
                <button type="submit" class="btn btn-outline-primary">{{'action.signIn' | message}}</button>
            </div>
        </div>
    </form>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';
    import Utils from '../utils/Utils';
    import {SignInRequest, SignInResponse} from '../models/api/Auth';
    import {ResponseInfo} from '../store';

    @Component
    export default class SignInForm extends Vue {
        username: string = '';
        password: string = '';

        showUsernameError: boolean = false;
        showPasswordError: boolean = false;
        showNotFoundError: boolean = false;

        isShowSpinner: boolean = false;
        isShowSendError: boolean = false;

        onSubmit(e: Event) {
            e.preventDefault();
            this.showUsernameError = !this.username;
            this.showPasswordError = !this.password;

            if (!!this.username && !!this.password) {
                this.send();
            }
        }

        hideUsernameError() {
            this.showUsernameError = false;
        }

        hidePasswordError() {
            this.showPasswordError = false;
        }

        private send() {
            const requestId = Utils.getRandomId();
            const request: SignInRequest = {
                requestId: requestId,
                username: this.username,
                password: this.password
            };

            this.isShowSpinner = true;
            this.isShowSendError = false;
            this.showNotFoundError = false;

            this.$store.dispatch('signIn', request).then(() => {
                this.handleResponse(requestId);
            });
        }

        private handleResponse(requestId: string) {
            this.isShowSpinner = false;
            // this.$store.commit('setToken', '123');
            const responseInfo: ResponseInfo<SignInResponse> = this.$store.getters.getResponseInfo(requestId);

            if (!responseInfo.isSuccess) {
                this.isShowSendError = true;
                return;
            }

            const response: SignInResponse = responseInfo.response;
            if (response.token) {
                this.$store.commit('setToken', response.token);
            } else if (response.errors) {
                this.showNotFoundError = !!response.errors.notFound;
            } else {
                this.isShowSendError = true;
            }
        }
    }
</script>
