<template>
    <form @submit="submitForm" novalidate>
        <div class="form-group row">
            <label for="email" class="col-sm-4 col-md-3 col-xl-2 col-form-label">{{'label.email' | message}}</label>
            <div class="col-sm-8 col-md-6 col-lg-4">
                <input id="email"
                       class="form-control"
                       v-bind:class="{'is-invalid': errors.emailRequired || errors.emailInvalid || errors.emailOccupied}"
                       type="email"
                       :placeholder="'placeholder.email' | message"
                       v-on:input="hideEmailErrors()"
                       v-model="email"
                       required/>
                <div class="alert alert-danger form-alert" v-if="errors.emailRequired">{{'validation.emailRequired' | message}}</div>
                <div class="alert alert-danger form-alert" v-if="errors.emailInvalid">{{'validation.emailInvalid' | message}}</div>
                <div class="alert alert-danger form-alert" v-if="errors.emailOccupied">{{'validation.emailOccupied' | message}}</div>
            </div>
        </div>
        <div class="form-group row">
            <label for="username" class="col-sm-4 col-md-3 col-xl-2 col-form-label">{{'label.username' | message}}</label>
            <div class="col-sm-8 col-md-6 col-lg-4">
                <input id="username"
                       class="form-control"
                       v-bind:class="{'is-invalid': errors.usernameRequired || errors.usernameInvalid || errors.usernameOccupied}"
                       :placeholder="'placeholder.username' | message"
                       v-on:input="hideUsernameErrors()"
                       v-model="username"
                       required/>
                <div class="alert alert-danger form-alert" v-if="errors.usernameRequired">{{'validation.usernameRequired' | message}}</div>
                <div class="alert alert-danger form-alert" v-if="errors.usernameInvalid">{{'validation.usernameInvalid' | message}}</div>
                <div class="alert alert-danger form-alert" v-if="errors.usernameOccupied">{{'validation.usernameOccupied' | message}}</div>
            </div>
        </div>
        <div class="form-group row">
            <label for="password" class="col-sm-4 col-md-3 col-xl-2 col-form-label">{{'label.password' | message}}</label>
            <div class="col-sm-8 col-md-6 col-lg-4">
                <input id="password"
                       class="form-control"
                       v-bind:class="{'is-invalid': errors.passwordRequired || errors.passwordInvalid}"
                       type="password"
                       :placeholder="'placeholder.password' | message"
                       v-on:input="hidePasswordErrors()"
                       v-model="password"
                       required/>
                <div class="alert alert-danger form-alert" v-if="errors.passwordRequired">{{'validation.passwordRequired' | message}}</div>
                <div class="alert alert-danger form-alert" v-if="errors.passwordInvalid">{{'validation.passwordInvalid' | message}}</div>
            </div>
        </div>
        <div class="form-group row">
            <label for="passConfirm" class="col-sm-4 col-md-3 col-xl-2 col-form-label">{{'label.passConfirm' | message}}</label>
            <div class="col-sm-8 col-md-6 col-lg-4">
                <input id="passConfirm"
                       class="form-control"
                       v-bind:class="{'is-invalid': errors.passConfirmRequired || errors.passConfirmInvalid}"
                       type="password"
                       :placeholder="'placeholder.passConfirm' | message"
                       v-on:input="hidePassConfirmErrors()"
                       v-model="passConfirm"
                       required/>
                <div class="alert alert-danger form-alert" v-if="errors.passConfirmRequired">{{'validation.passConfirmRequired' | message}}</div>
                <div class="alert alert-danger form-alert" v-if="errors.passConfirmInvalid">{{'validation.passConfirmInvalid' | message}}</div>
            </div>
        </div>
        <div class="form-group row" v-if="isShowSendError">
            <div class="col-auto">
                <div class="alert alert-danger form-alert mt-0">{{'error.send' | message}}</div>
            </div>
        </div>
        <div class="spinner" v-if="isShowSpinner"></div>
        <div class="form-group row" v-if="!isShowSpinner">
            <div class="col-auto">
                <button type="submit" class="btn btn-outline-primary">{{'action.signUp' | message}}</button>
            </div>
        </div>
    </form>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';
    import FormValidator from '../utils/FormValidator';
    import {SignUpRequest, SignUpResponse} from '../models/api/Auth';
    import Utils from '../utils/Utils';
    import {ResponseInfo} from '../store';

    @Component
    export default class RegistrationForm extends Vue {
        email: string = '';
        username: string = '';
        password: string = '';
        passConfirm: string = '';

        errors = <{ [index: string]: boolean }> {
            emailRequired: false,
            emailInvalid: false,
            emailOccupied: false,
            usernameRequired: false,
            usernameInvalid: false,
            usernameOccupied: false,
            passwordRequired: false,
            passwordInvalid: false,
            passConfirmRequired: false,
            passConfirmInvalid: false
        };

        isShowSpinner: boolean = false;
        isShowSendError: boolean = false;

        submitForm(e: Event) {
            e.preventDefault();
            this.validate();
            this.isShowSendError = false;

            if (this.isFormValid()) {
                this.send();
            }
        }

        hideEmailErrors() {
            this.errors.emailRequired = false;
            this.errors.emailInvalid = false;
            this.errors.emailOccupied = false;
        }

        hideUsernameErrors() {
            this.errors.usernameRequired = false;
            this.errors.usernameInvalid = false;
            this.errors.usernameOccupied = false;
        }

        hidePasswordErrors() {
            this.errors.passwordRequired = false;
            this.errors.passwordInvalid = false;
        }

        hidePassConfirmErrors() {
            this.errors.passConfirmRequired = false;
            this.errors.passConfirmInvalid = false;
        }

        private validate() {
            this.errors.emailRequired = !this.email;
            this.errors.emailInvalid = !!this.email && !FormValidator.isEmailValid(this.email);
            this.errors.usernameRequired = !this.username;
            this.errors.usernameInvalid = !!this.username && !FormValidator.isUsernameValid(this.username);
            this.errors.passwordRequired = !this.password;
            this.errors.passwordInvalid = !!this.password && !FormValidator.isPasswordValid(this.password);
            this.errors.passConfirmRequired = !this.passConfirm;
            this.errors.passConfirmInvalid = !!this.passConfirm && this.passConfirm !== this.password;
        }

        private isFormValid(): boolean {
            for (const key in this.errors) {
                if (this.errors.hasOwnProperty(key) && this.errors[key] == true) {
                    return false;
                }
            }

            return true;
        }

        private send() {
            const requestId = Utils.getRandomId();
            const request: SignUpRequest = {
                requestId: requestId,
                email: this.email,
                username: this.username,
                password: this.password
            };

            this.isShowSpinner = true;

            this.$store.dispatch('signUp', request).then(() => {
                this.handleResponse(requestId);
            });
        }

        private handleResponse(requestId: string) {
            this.isShowSpinner = false;
            const responseInfo: ResponseInfo<SignUpResponse> = this.$store.getters.getResponseInfo(requestId);

            if (!responseInfo.isSuccess) {
                this.isShowSendError = true;
                return;
            }

            const response: SignUpResponse = responseInfo.response;
            if (response.token) {
                this.$store.commit('setToken', response.token);
            } else if (response.errors) {
                this.errors.emailOccupied = !!response.errors.emailOccupied;
                this.errors.usernameOccupied = !!response.errors.usernameOccupied;
            } else {
                this.isShowSendError = true;
            }
        }
    }
</script>

