<template>
    <div class="card">
        <div class="card-body" v-if="$store.state.token">
            <div class="alert alert-primary" v-if="training.isTaken || isTaken">{{'training.isTaken' | message}}</div>
            <div class="spinner" v-if="isShowSpinner"></div>
            <div v-if="!training.isTaken && !isTaken && !isShowSpinner">
                <div class="btn btn-outline-primary" @click="takeTraining()">{{'training.takeTraining' | message}}</div>
                <p class="mb-0 mt-2" v-if="isShowSendError">{{'error.send' | message}}</p>
            </div>
        </div>
        <div class="card-body" v-if="!$store.state.token">
            <router-link :to="{name: 'auth', params: {mode: 'signIn', returnTo: '/training/' + training.id}}">{{'training.auth' | message}}</router-link>
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import {Training, TrainingPreview} from '@/models/Training';
    import Utils from '../utils/Utils';
    import {TakeTrainingRequest, TakeTrainingResponse} from '@/models/api/Trainings';
    import {ResponseInfo} from '@/store';

    @Component
    export default class TakeTrainingButton extends Vue {
        @Prop() training!: Training;
        isShowSpinner: boolean = false;
        isShowSendError: boolean = false;
        isTaken: boolean = false;

        takeTraining() {
            this.isShowSpinner = true;
            this.isShowSendError = false;

            const requestId: string = Utils.getRandomId();
            const request: TakeTrainingRequest = {
                requestId: requestId,
                trainingId: this.training.id
            };

            this.$store.dispatch('takeTraining', request).then(() => {
                this.isShowSpinner = false;

                const responseInfo: ResponseInfo<TakeTrainingResponse> = this.$store.getters.getResponseInfo(requestId);
                if (!responseInfo.isSuccess) {
                    this.isShowSendError = true;
                    return;
                }

                const response: TakeTrainingResponse = responseInfo.response;
                if (response.isBadToken) {
                    this.$store.commit('logout');
                    this.$router.push({name: 'auth', params: {mode: 'signIn', returnTo: '/training/' + this.training.id}});
                    return;
                }

                if (!response.isSuccess) {
                    this.isShowSendError = true;
                    return;
                }

                this.isTaken = true;
                this.$store.commit('takeTraining', <TrainingPreview> {
                    id: this.training.id,
                    name: this.training.name,
                    description: this.training.description,
                    imageUrl: this.training.imageUrls[0]
                });
            });
        }
    }
</script>

<style scoped>

</style>