<template>
    <div>
        <div class="spinner" v-if="isShowSpinner"></div>
        <div class="btn btn-outline-danger" v-if="!isShowSpinner" @click="throwTraining()">{{'trainingPreview.throw' | message}}</div>
        <p class="mb-0 mt-2" v-if="isShowSendError">{{'error.send' | message}}</p>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import Utils from '../utils/Utils';
    import {ThrowTrainingRequest, ThrowTrainingResponse} from '@/models/api/Trainings';
    import {ResponseInfo} from '@/store';
    import {TrainingPreview} from '@/models/Training';

    @Component
    export default class ThrowTrainingButton extends Vue {
        @Prop() training!: TrainingPreview;
        isShowSpinner: boolean = false;
        isShowSendError: boolean = false;

        throwTraining() {
            this.isShowSpinner = true;
            this.isShowSendError = false;

            const requestId: string = Utils.getRandomId();
            const request: ThrowTrainingRequest = {
                requestId: requestId,
                trainingId: this.training.id
            };

            this.$store.dispatch('throwTraining', request).then(() => {
                this.isShowSpinner = false;

                const responseInfo: ResponseInfo<ThrowTrainingResponse> = this.$store.getters.getResponseInfo(requestId);
                if (!responseInfo.isSuccess) {
                    this.isShowSendError = true;
                    return;
                }

                const response: ThrowTrainingResponse = responseInfo.response;
                if (response.isBadToken) {
                    this.$store.commit('logout');
                    this.$router.push({name: 'auth', params: {mode: 'signIn', returnTo: '/myTrainings'}});
                    return;
                }

                if (!response.isSuccess) {
                    this.isShowSendError = true;
                    return;
                }

                this.$store.commit('throwTraining', this.training);
            });
        }
    }
</script>

<style scoped>

</style>