<template>
    <div>
        <TrainingPreviewListItem class="mb-3" v-for="item in items" :key="item.id" :item="item"/>
        <p v-if="items.length == 0">{{'trainingPreviewList.empty' | message}}</p>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import {TrainingPreview} from '../models/Training';
    import TrainingPreviewListItem from '@/components/TrainingPreviewListItem.vue';

    @Component({
        components: {TrainingPreviewListItem}
    })
    export default class TrainingPreviewList extends Vue {
        @Prop() items!: TrainingPreview[];
    }
</script>
