<template>
    <div class="container" id="app">
        <Navbar/>
        <router-view class="mt-3"/>
    </div>
</template>

<script lang="ts">
    import Navbar from './components/Navbar.vue';

    export default {
        components: {Navbar}
    };
</script>

<style>
    @keyframes spin {
        100% {
            transform: rotate(360deg);
        }
    }

    body {
        padding-bottom: 2rem;

        background: #f3f3f3;
        font-family: 'Helvetica Neue', Arial, sans-serif;
    }

    .spinner {
        width: 2rem;
        height: 2rem;

        border: 3px solid rgba(0, 113, 255, 0.75);
        border-radius: 50%;
        border-top-color: #fff;

        animation: spin 1s ease-in-out infinite;
    }

    .btn-remove {
        display: inline-flex;
        justify-content: center;
        align-items: center;

        width: 1.25rem;
        height: 1.25rem;

        color: rgba(255, 0, 0, 0.75);
        border: 2px solid rgba(255, 0, 0, 0.75);
        border-radius: 50%;

        cursor: pointer;
        user-select: none;
    }

    .btn-remove::before {
        content: '\00D7';
    }

    .btn-remove:hover {
        color: rgba(255, 0, 0, 1);
        border: 2px solid rgba(255, 0, 0, 1);
    }


    .link-remove {
        color: rgba(255, 0, 0, 0.75);
    }

    .form-alert {
        display: inline-block;
        padding: .375rem .75rem;
        margin-top: .5rem;
        margin-bottom: 0;
        width: auto;
    }

    .form-group:last-of-type {
        margin-bottom: 0;
    }

    .card-header {
        background: rgba(0, 0, 0, .1);
    }

    .preview-card {
        padding: 1rem;
    }

    .preview-row {
        margin-bottom: -1rem;
    }

    .preview-row > * {
        margin-bottom: 1rem;
    }

    .preview-body {
        padding-top: 0;
        padding-bottom: 0;
    }

</style>
